.container-dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    gap:40px;
  justify-content: center;

}
.containerr{
    max-width: 1200px;
    margin-top: 50px !important;
    margin-bottom: 100px !important;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 25px;   
}
.right-content{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.left-content{
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:16px;
}

@media (max-width: 600px){
    .container-dashboard{
        width: 100%;
        height: 100vh;
        margin: 50px;
        flex-direction: column;
   
       
    }
    .right-content{
        width: 100%;
        height: 100vh;
        margin-top: 1200px;
        margin-bottom: 517px;
    }
    .card-container{
        flex-direction: column;
    }
}