.electri-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 545px;
    border-radius: 12px;
    padding: 5px;
    border: 2px solid #EAECF0;
    gap: 10px;
}
.electric-header{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.electric-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.electric-item h3{
    color: #344054;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

}
.electric-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 5px 14px;
    width: 148px;
    height: 44px;
    border: 2px solid #EAECF0;
}
.electric-top{
    height: 34px;
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f6fa;
    border-radius: 4px;
    border-bottom: 1px solid #e3e5e9 ;
  
}
.electric-top ul{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    list-style-type: none;
}
.electric-table{
    height: 34px;
    width: 368px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EAECF0 ;
}
.electric-table ul{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 44px;
    list-style-type: none;
}

.electric-footer{
    border-top: 2px solid #FD983D;
    padding: 4px;
}
.electric-footer h3 {
    color: #344054;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.electric-footer p {
    color: #475467;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
.electric-table-container{
    display: flex;
    flex-direction: column;
}
@media (max-width: 600px){
    .electri-card{
        height: 445px;

    }

    .electric-table-container{
        width: 290px;
        overflow-x: scroll;
    }
    .electric-table-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.electric-table-container::-webkit-scrollbar
{
	width: 4px;
    height: 5px;
	background-color: #F5F5F5;
}

.electric-table-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

}