.nav{
display: flex;
justify-content: space-between;
width: 100%;
border-bottom: 1px solid #EAECF0;
height: 65px;

}
.logo-nav{
    padding: 20px;
    
}
.logo-nav img{
    height: 21px;
    width: 134px;
}
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.navigation ul{
    display:flex;
    width: 100%;
    overflow: hidden;
padding: 22px;
gap:50px;
}
.navigation ul li{
    width: 100%;
    list-style-type: none;
display: flex;
align-items: center;
justify-content: center;
gap:12px;
padding-bottom: 20px;

}
.user{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin: 10px;
    gap:16px;
}
.user desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.user p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #667085;
}
.navigation ul li:nth-child(1){
    border-bottom: 3px solid #FD7E0D;
   
  
}
@media (max-width: 600px){

    .user p {
display: none;
    }
}